[defaults]
inventory = ../terraform/hosts.ini
host_key_checking = false
interpreter_python = auto
roles_path = ./roles
retry_files_enabled = false
# private key is passed by scripts/run.sh via --private-key

[privilege_escalation]
become = true
become_method = sudo
become_user = root

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=120s -o StrictHostKeyChecking=no -o IdentitiesOnly=yes -o PreferredAuthentications=publickey
